# Gradle build system ignores
.gradle/
build/

# Other IDE related folders
.idea/
.settings/

# MCreator workspace
.mcreator/

# Minecraft client/server files
run/

# MacOS system files
.DS_STORE

# Other Files (In Eclipse)
.classpath
.project
/src/generated/resources/assets/pmmo_xp_bottles/models/item/
/src/generated/
src/generated/resources/assets/pmmo_xp_bottles/models/item/agility.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/agility_e.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/alchemy.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/alchemy_e.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/archery.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/archery_e.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/building.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/building_e.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/combat.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/combat_e.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/cooking.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/cooking_e.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/crafting.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/crafting_e.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/endurance.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/endurance_e.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/engineering.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/engineering_e.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/excavation.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/excavation_e.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/farming.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/farming_e.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/fishing.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/fishing_e.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/gunslinging.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/gunslinging_e.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/hunter.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/hunter_e.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/magic.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/magic_e.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/mining.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/mining_e.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/sailing.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/sailing_e.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/slayer.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/slayer_e.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/smithing.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/smithing_e.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/swimming.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/swimming_e.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/taming.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/taming_e.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/woodcutting.json
src/generated/resources/assets/pmmo_xp_bottles/models/item/woodcutting_e.json
